<nav class="nav navbar-default">
  <div class="container lib-border"
       style="padding-top: 0.5em; border-bottom: 0em; padding-bottom: 0.5em">
    <div class="row">
      <div class="col-sm-3 left">
        <a routerLink="/books">
          <img src="https://image0.flaticon.com/icons/png/512/262/262550.png">
        </a>
      </div>
      <div class="col-lg-8 center-block">
        <h3>Библиотека имени Читательского-Билетского</h3>
        <h5>Телефон: 8(909)363-32-03</h5>
      </div>
      <div class="col-sm-1 right">
        <img src="https://image0.flaticon.com/icons/png/512/262/262527.png">
      </div>
    </div>
    <div class="row">
      <a routerLink="/books">
        <div class="col-sm-3 lib-border" style="border-left: 0em; border-right: 0em">
          <h5 class="button-text">Книги</h5>
        </div>
      </a>
      <a routerLink="/aboutLib">
        <div class="col-sm-3 lib-border" style="border-right: 0em">
          <h5 class="button-text">О библиотеке</h5>
        </div>
      </a>
      <a routerLink="/readers">
        <div class="col-sm-3 lib-border" style="border-right: 0em">
          <h5 class="button-text">Читатели</h5>
        </div>
      </a>
      <div class="col-sm-3 lib-border" style="border-right: 0em">
        <h5 class="button-text">Сортировать по</h5>
      </div>
    </div>
  </div>
</nav>
