<div class="container" id="book-front">
  <div class="col-sm-12" style="padding-left: 2em;">
    <div class="row center-block">
      <img src="https://ozon-st.cdn.ngenix.net/multimedia/1008679363.jpg">
    </div>
    <div class="row">
      <h5>Java. Эффективное программирование</h5>
      <h6>Доступно: over 9000</h6>
      <h6>стадут: 11.12.2019</h6>
    </div>
  </div>
  <div class="row" style="padding-left: 1em;">
    <div class="col-sm-6">
      <button class="btn btn-primary">Details</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary">Add</button>
    </div>
  </div>
</div>
