<div class="container">
  <div class="row">
    <div class="col-sm-11">
      <div class="form-group">
        <input type="text" class="form-control lib-border-round" placeholder="search...">
      </div>
    </div>
    <div class="col-sm-1">
      <a routerLink="#">
        <img src="https://image0.flaticon.com/icons/png/512/262/262533.png"
             style="width: 2em; height: 2em">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <h5>Search in:</h5>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-2">
          <h5>titles</h5>
        </div>
        <div class="form-check col-sm-2 search-check-box">
          <input class="form-check-input" type="checkbox" value="">
        </div>
        <div class="col-sm-2">
          <h5>authors</h5>
        </div>
        <div class="form-check col-sm-2 search-check-box">
          <input class="form-check-input" type="checkbox" value="">
        </div>
        <div class="col-sm-2">
          <h5>readers</h5>
        </div>
        <div class="form-check col-sm-2 search-check-box">
          <input class="form-check-input" type="checkbox" value="">
        </div>
      </div>
    </div>
    <div class="col-sm-7"></div>
  </div>
</div>
